@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #110d11;
}
.navbar{
  background: #FFF;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar h1{
  color: #DF367C
}
.links a{
  text-decoration: none;
  color: #F999CB;
  padding: 0.65vw;
}
.new-blog{
  background: #DF367C;
  color: #FFF !important;
  margin: 0 1vw;
  border-radius: 16px;
}
.links a:hover{
  color: #B6A1B3;
}
.home{
  display: flex;
  justify-content: center;
}
.content{
  max-width: 75%;
  margin: 2vw auto;
  padding: 1vw;
}
.blog-list h1{
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.blog-preview{
  margin: 1vw auto;
  background: #252020;
}
.upper-infos{
  background-color: #282222;
  display: flex;
  color: #F999CB;
  font-size: 0.65rem;
  padding: 1vw;
}
.upper-infos p{
  margin-right: 0.4vw;
}
.upper-infos span:hover{
  text-decoration: underline;
  cursor: pointer;
}
.blog-channel:hover{
  text-decoration: underline;
  cursor: pointer;
}
.bottom-infos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282222;
}
.bottom-infos i{
  color: #F999CB;
  font-size: 1.35rem;
  display: flex;
  align-items: center;
}
.bottom-infos i p{
  font-size: 0.75rem;
  padding: 0.3vw;
}
.banners{
  display: flex;
  font-size: 0.7rem;
  padding: 1vw;
  color: #DF367C;
}
.banners p{
  background-color: #FFF;
  padding: 0.4vw;
  border-radius: 10px;
  margin-right: 0.75vw;
}
.banners p span:hover{
  cursor: pointer;
  text-decoration: underline;
}
.bottom-infos button{
  background-color: #282222;
  border: none;
  padding: 0.5vw;
  margin: 0.5vw;
}
.bottom-infos button:hover{
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.blog-preview a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 3vw;
  color: #DF367C;
  font-size: 1.5rem;
}
.blog{
  padding: 1vw;
  margin: 1vw 0;
  border-bottom: 1px solid #eee;
  background-color: rgba(0, 0, 0, 0.2);
}
.blog:hover{
  box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.1);
}
.blog-title{
  font-size: 2rem;
  color: #DF367C;
  padding-bottom: 1vw;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.blog-author{
  font-size: 0.65rem;
  color: #F999CB;
  margin: 0 auto 0 75%; /* Gives that scrolling effect as the typing happens */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.blog-body{
  letter-spacing: 0.05rem;
  margin: 20px 0;
  color : #FFF;
}

/* Loading Screen CSS */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.loader {
  border: 12px solid #e3e3e3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
  margin-bottom: 4vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}